h1{
    color: red;
    text-align: center;
    font-size: 60px;
    background-color: black;

}

.demo
{
    color: red;
}

div
{
    background-color: rgb(186, 123, 123);
    color: rgb(0, 0, 0);
    height:100px;
    width:300px;
    
}