*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:black;
    color:white;
}


/* ================= NAVBAR ================= */

.navbar{
    width:100%;
    padding:20px 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:fixed;
    top:0;
    z-index:100;

    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(5px);
}

.logo h1{
    font-size:35px;
    color:white;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.nav-links li a:hover{
    color:#e3540d;
}

.nav-icons{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-icons i{
    font-size:20px;
    cursor:pointer;
}

.launcher-btn{
    padding:10px 20px;
    border:1px solid white;
    background:transparent;
    color:white;
    border-radius:25px;
    cursor:pointer;
    transition:0.3s;
}

.launcher-btn:hover{
    background:white;
    color:black;
}


/* ================= HERO SECTION ================= */

.hero{
    width:100%;
    height:100vh;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url('./assets/GtaV.jpg');
    transition:2s ease-in-out;
}
.overlay{
    position:absolute;
    width:100%;
    height:100%;
    /* background:rgba(0,0,0,0.5); */
}

.hero-content{
    width:90%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:relative;
    z-index:2;
}

.game-logo h2{
    font-size:80px;
    text-transform:uppercase;
    line-height:0.9;
    font-weight:bold;
}

.game-logo span{
    color:#d9c06a;
}

.hero-text{
    max-width:600px;
    
}

.hero-text p{
    font-size:18px;
    margin-bottom:15px;
    color:#d9c06a;
}

.hero-text h1{
    font-size:55px;
    line-height:1.2;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:20px;
}

.watch-btn,
.learn-btn{
    padding:15px 30px;
    border:none;
    border-radius:40px;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

.watch-btn{
    background:#d9c06a;
    color:black;
}

.watch-btn:hover{
    transform:scale(1.05);
}

.learn-btn{
    background-color: #181212;
    border:1px solid white;
    color:white;
}

.learn-btn:hover{
    background:white;
    color:black;
}


/* ================= SLIDER DOTS ================= */

.slider{
    position:absolute;
    bottom:40px;
    right:50px;

    display:flex;
    gap:10px;

    z-index:2;
}

.dot{
    width:12px;
    height:12px;
    border-radius:50%;
    background:gray;
}

.active{
    background:white;
}


/*  GAME CARDS */

.games-section{
    width:100%;
    padding:80px 60px;
}

.section-title{
    font-size:45px;
    margin-bottom:40px;
}

.cards-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.game-card{
    background:#111;
    border-radius:20px;
    overflow:hidden;
    transition:0.4s;
}

.game-card:hover{
    transform:translateY(-10px);
}

.game-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card-content{
    padding:20px;
}

.card-content h2{
    margin-bottom:10px;
}

.card-content p{
    color:#cccccc;
}


/* ================= FOOTER ================= */

footer{
    text-align:center;
    padding:30px;
    background:#111;
    color:#aaa;
}


/* ================= RESPONSIVE DESIGN ================= */

@media(max-width:992px){

    .navbar{
        padding:20px;
    }

    .nav-links{
        display:none;
    }

    .hero-content{
        flex-direction:column;
        text-align:center;
        gap:40px;
    }

    .game-logo h2{
        font-size:60px;
    }

    .hero-text h1{
        font-size:40px;
    }

    .buttons{
        justify-content:center;
    }
}

@media(max-width:600px){

    .hero-text h1{
        font-size:30px;
    }

    .game-logo h2{
        font-size:45px;
    }

    .watch-btn,
    .learn-btn{
        padding:12px 20px;
        font-size:15px;
    }
}

#pauseBtn{
    padding:8px 15px;
    border:none;
    border-radius:20px;
    background:white;
    color:black;
    cursor:pointer;
    font-weight:bold;
}

.gridcont
{
    display: flex;
    /* flex-template-rows: repeat(auto-fit,minmax(10px,200px)); */
    background-color: rgb(170, 255, 0);
    /* position: absolute; */
    /* left:150px; */
    /* top:800px; */
}

.cont {

  /* margin-left: 35px;
  padding-left: 35px; */
  background-color: rgb(36, 33, 33);
  height: 300px;
  width: 650px;
}

.arrangement h2
{
  margin-left: 35px;
  padding-left: 35px;
  margin-top: 80px;
  padding-top: 80px;
 text-align: left; 
}

.arran
{
  position: absolute;
margin-left:35;
padding-left: 35px;
margin-top: 2px;
padding-top: 30px;
text-align: left;
font-size: 50px;
overflow:auto;
}