#title {
    color: red;
    font-size: 100px;
}

.help {
    color: rgb(225, 29, 29);
    font-size: 100%;
}

h3 {
    position: fixed;
    top: 110px;
    left: 120px;
    font-size: 90%;
}

h2 {
    position: absolute;
    top: 27px;
    left: 60px;

}

h4 {
    position: absolute;
    top: 55px;
    left: 80px;
    font-size: 100%;

}

.box {
    width: 1000px;
    height: 100px;
    background-color: rgb(110, 251, 166);
    border: 3px solid rgb(40, 196, 159);
    padding: 10px;
    margin: 30px;
    float: left;
}

.box1 {
    width: 100px;
    height: 50px;
    background-color: rgb(231, 27, 204);
    border: 3px solid rgb(40, 196, 159);
    padding: 10px;
    margin: 25px;
    float: left;
}